.index{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.index .header{
    width: 7.4rem;
    height: 1.6rem;
    background: url(../images/header.png) no-repeat;
}

.index .navBar{
    height: .8rem;
    background-color: #fff;
   display: flex;
   border-bottom: 1px solid #eee;
}
.index .navBar a{
    display: block;
    color: #333;
    font-size: .3rem;
    line-height: .8rem;
    flex: 1;
    text-align: center;
}
.index .navBar a.active{
    color: #dd001b;
}
.index .navBar a.active>span{
    display: inline-block;
    height: .8rem;
    border-bottom: 2px solid #dd001b;
}
.haha{
    height: 2.4rem;
}
/* swiper */
.swiper-container {
    width: 100%;
    height: 3.2rem;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide img{
      width: 100%;
      height: 3.2rem;
  }